[Unit]
Description=Kill Feed Discord Poster Timer - Runs every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
